<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>
</head>
<body>
    <h1>Liste des Pokémons</h1>
    <ul>
        {% for pokemon in pokemons %}
            <li>
                <h2>{{ pokemon.id }} - {{ pokemon.name }}</h2>
                <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
                <p>Type: {{ pokemon.type | join(", ") }}</p>
                <p>Abilities: {{ pokemon.abilities | join(", ") }}</p>
                <p>Base Stats:</p>
                <ul>
                    <li>HP: {{ pokemon.base_stats.hp }}</li>
                    <li>Attack: {{ pokemon.base_stats.attack }}</li>
                    <li>Defense: {{ pokemon.base_stats.defense }}</li>
                    <li>Sp. Attack: {{ pokemon.base_stats.sp_attack }}</li>
                    <li>Sp. Defense: {{ pokemon.base_stats.sp_defense }}</li>
                    <li>Speed: {{ pokemon.base_stats.speed }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

